<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>منصة فرجال.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>6</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>91EF03FFB49A637D704796A637B51013D912724E</string>
				<key>dateExpires</key>
				<string>21/11/2022</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>6</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91EF03FFB49A637D704796A637B51013D912724E</string>
						<key>dateExpires</key>
						<string>21/11/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L2GG2UC5T</string>
						<key>name</key>
						<string>Ali Khalaf</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>6</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91EF03FFB49A637D704796A637B51013D912724E</string>
						<key>dateExpires</key>
						<string>21/11/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L2GG2UC5T</string>
						<key>name</key>
						<string>Ali Khalaf</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>6</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91EF03FFB49A637D704796A637B51013D912724E</string>
						<key>dateExpires</key>
						<string>21/11/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L2GG2UC5T</string>
						<key>name</key>
						<string>Ali Khalaf</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>6</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91EF03FFB49A637D704796A637B51013D912724E</string>
						<key>dateExpires</key>
						<string>21/11/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L2GG2UC5T</string>
						<key>name</key>
						<string>Ali Khalaf</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>6</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91EF03FFB49A637D704796A637B51013D912724E</string>
						<key>dateExpires</key>
						<string>21/11/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L2GG2UC5T</string>
						<key>name</key>
						<string>Ali Khalaf</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>6</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91EF03FFB49A637D704796A637B51013D912724E</string>
						<key>dateExpires</key>
						<string>21/11/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L2GG2UC5T</string>
						<key>name</key>
						<string>Ali Khalaf</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>6</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91EF03FFB49A637D704796A637B51013D912724E</string>
						<key>dateExpires</key>
						<string>21/11/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L2GG2UC5T</string>
						<key>name</key>
						<string>Ali Khalaf</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>6</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91EF03FFB49A637D704796A637B51013D912724E</string>
						<key>dateExpires</key>
						<string>21/11/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L2GG2UC5T</string>
						<key>name</key>
						<string>Ali Khalaf</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>6</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91EF03FFB49A637D704796A637B51013D912724E</string>
						<key>dateExpires</key>
						<string>21/11/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L2GG2UC5T</string>
						<key>name</key>
						<string>Ali Khalaf</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>6</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91EF03FFB49A637D704796A637B51013D912724E</string>
						<key>dateExpires</key>
						<string>21/11/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L2GG2UC5T</string>
						<key>name</key>
						<string>Ali Khalaf</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>6</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91EF03FFB49A637D704796A637B51013D912724E</string>
						<key>dateExpires</key>
						<string>21/11/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L2GG2UC5T</string>
						<key>name</key>
						<string>Ali Khalaf</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>6</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91EF03FFB49A637D704796A637B51013D912724E</string>
						<key>dateExpires</key>
						<string>21/11/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PusherSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L2GG2UC5T</string>
						<key>name</key>
						<string>Ali Khalaf</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>6</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91EF03FFB49A637D704796A637B51013D912724E</string>
						<key>dateExpires</key>
						<string>21/11/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L2GG2UC5T</string>
						<key>name</key>
						<string>Ali Khalaf</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>6</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91EF03FFB49A637D704796A637B51013D912724E</string>
						<key>dateExpires</key>
						<string>21/11/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L2GG2UC5T</string>
						<key>name</key>
						<string>Ali Khalaf</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>6</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91EF03FFB49A637D704796A637B51013D912724E</string>
						<key>dateExpires</key>
						<string>21/11/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ZLPhotoBrowser.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L2GG2UC5T</string>
						<key>name</key>
						<string>Ali Khalaf</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>6</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91EF03FFB49A637D704796A637B51013D912724E</string>
						<key>dateExpires</key>
						<string>21/11/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_pusher_client.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L2GG2UC5T</string>
						<key>name</key>
						<string>Ali Khalaf</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>6</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91EF03FFB49A637D704796A637B51013D912724E</string>
						<key>dateExpires</key>
						<string>21/11/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>images_picker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L2GG2UC5T</string>
						<key>name</key>
						<string>Ali Khalaf</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>6</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91EF03FFB49A637D704796A637B51013D912724E</string>
						<key>dateExpires</key>
						<string>21/11/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L2GG2UC5T</string>
						<key>name</key>
						<string>Ali Khalaf</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>6</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91EF03FFB49A637D704796A637B51013D912724E</string>
						<key>dateExpires</key>
						<string>21/11/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L2GG2UC5T</string>
						<key>name</key>
						<string>Ali Khalaf</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>6</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91EF03FFB49A637D704796A637B51013D912724E</string>
						<key>dateExpires</key>
						<string>21/11/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6L2GG2UC5T</string>
						<key>name</key>
						<string>Ali Khalaf</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6L2GG2UC5T.com.iraqi.flight-booking-sys</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>6L2GG2UC5T</string>
				<key>com.apple.developer.usernotifications.communication</key>
				<true/>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c6092ff3-4dc2-4e87-a056-8b000094d090</string>
				<key>dateExpires</key>
				<string>27/11/2022</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.iraqi.flight-booking-sys</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6L2GG2UC5T</string>
				<key>name</key>
				<string>Ali Khalaf</string>
			</dict>
			<key>versionNumber</key>
			<string>1.5.0</string>
		</dict>
	</array>
</dict>
</plist>
